<div class="cards">
  <div class="card-block" *ngFor="let card of cards">
    <app-card
      [data]="card"
      [options]="cardOptions"
      (onSelect)="select($event)"
      (onDelete)="delete($event)"
    ></app-card>
  </div>

  <div class="card-block" (click)="add()">
    <div class="card">
      <div class="card-holder add-card">
        <span class="mdi mdi-plus-circle add-card-button"></span>
        <div class="add-card-text">Добавить карту</div>
      </div>
    </div>
  </div>
</div>
