<div class="card-form-holder">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="inputs-wrapper">
      <div class="input-holder">
        <input type="text" id="alias" formControlName="alias" required>
        <span class="mdi input-state"></span>
        <label for="alias">{{'CARD.ALIAS' | translate}}</label>
      </div>
    
      <div class="input-holder">
        <input maxlength="19" type="text" id="pan" formControlName="pan" inputMask [mask]="panMask" (valueChanges)="pan = $event" required>
        <span class="mdi input-state"></span>
        <label for="pan">{{'CARD.PAN' | translate}}</label>
      </div>
    
      <div class="input-holder">
        <input maxlength="5" type="text" id="exp" formControlName="exp" inputMask [mask]="expMask" required>
        <span class="mdi input-state"></span>
        <label for="exp">{{'CARD.EXP' | translate}}</label>
      </div>
    </div>

    <div class="description">{{'ADD_CARD.DESCRIPTION' | translate}}</div>
    
    <div class="button-holder">
      <button class="button cancel-button secondary" type="button" (click)="cancel()">{{'ADD_CARD.CANCEL_BUTTON' | translate}}</button>
      <button class="button" type="submit" [disabled]="!formGroup.valid">{{'ADD_CARD.SUBMIT_BUTTON' | translate}}</button>
    </div>
  </form>
</div>
