<div class="card">
  <div
    class="card-holder"
    [ngClass]="{
      visa: cardType === 'visa',
      mc: cardType === 'mast'
    }"
  >
    <div class="card-info">
      <div class="card-logo"></div>
      <span class="card-pan">{{pan}}</span>
    </div>

    <div class="card-actions">
      <div class="card-action-select" (click)="select()">
        <div class="card-action-icon-holder">
          <span class="mdi mdi-cart-plus"></span>
        </div>
      </div>
      <div class="card-action-delete" (click)="delete()">
        <div class="card-action-icon-holder">
          <span class="mdi mdi-delete"></span>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="options.name" class="card-name">{{data.alias}}</p>
</div>
