.inputs-wrapper {
  margin-bottom: 30px;
}

.input-holder {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 54px;
  margin-bottom: 11px;
  @include anim($param: border-color, $dur: .15s);
  @include bp-max(640px) {
    min-height: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  input {
    & ~ label {
      position: absolute;
      bottom: 15px;
      left: 0;
      padding-left: 20px;
      transform: translateY(0);
      transform-origin: 0;
      font-size: 16px;
      color: $labelColor;
      pointer-events: none;
      transition: top .15s, font-size .15s, transform .15s;
      @include bp-max(640px) {
        bottom: 12px;
        font-size: 14px;
        padding-left: 11px;
      }
    }
    &[readonly] {
      border-color: #30C4F3;
      pointer-events: none;
      & ~ label {
        font-size: .55rem;
        transform: translateY(-22px);
        @include bp-max(640px) {
          transform: translateY(-17px);
          font-size: 10px;
        }
      }
    }
  }
  
  .input-state {
    display: block;
    font-size: 24px;
  }
  
  input {
    display: block;
    width: 100%;
    height: 54px;
    border-radius: 5px;
    padding: 20px 36px 15px 20px;
    background: transparent;
    color: $inputColor;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: none;
    border: 1px solid $borderInput;
    transition: border .12s ease-in-out;
    @include bp-max(640px) {
      height: 44px;
      padding: 14px 18px 10px 10px;
      font-size: 14px;
    }
    &:focus, &:valid {
      border-color: #30C4F3;
    }
    &.ng-dirty {
      &.ng-invalid {
        border-color: #fc5d2b;
        & ~ .input-state {
          &:before {
            content: "\F026";
            color: #fc5d2b;
          }
        }
      }
      &.ng-valid {
        & ~ .input-state {
          &:before {
            content: "\F12C";
            color: #bfc4c8;
          }
        }
      }
    }
  }
  &.focus-field, &.valid-field {
    input {
      border-color: $focusInputBorder;
    }
  }
  &.error-input {
    input {
      border-color: $errorColor;
    }
  }
  .required-marker {
    position: absolute;
    top: -3px;
    right: -13px;
    &:before {
      content: '*';
      font-size: 1rem;
      color: $errorColor;
    }
  }
  .mdi {
    position: absolute;
    @include centerize(false, true);
    right: 20px;
    font-size: 24px;
    &-alert {
      color: $errorColor;
    }
    &-check {
      color: $bgButton;
    }
  }
  input {
    &:focus, &:valid {
      & ~ label {
        font-size: .55rem;
        transform: translateY(-22px);
        @include bp-max(640px) {
          transform: translateY(-17px);
          font-size: 10px;
        }
      }
    }
  }
  &.label-top {
    label {
      font-size: .55rem !important;
      transform: translateY(-22px);
      @include bp-max(640px) {
        transform: translateY(-17px);
        font-size: 10px;
      }
    }
  }
}

button {
  overflow: visible;
}

.button, button {
  border: none;
  padding: 8px 24px;
  border-radius: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-size: .8rem;
  color: #fff;
  background: $bgButton;
  box-shadow: $buttonShadow;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition: background .15s, box-shadow .15s, color .15s, border .15s;
  @include bp-max(640px) {
    line-height: 24px;
    font-size: 12px;
  }
  &:hover {
    background: $buttonHover;
  }
  &:before {
    transition: color .15s;
  }
  &[disabled] {
    background: $bgButtonDisabled;
    color: $buttonColor;
    pointer-events: none;
    box-shadow: $buttonShadowDisabled;
  }
  &:active {
    background: $buttonActive;
    box-shadow: $buttonShadowActive;
  }
}
