$mq-desktop-min: 1201px;
$mq-desktop-hd-min: 1280px;
$mq-desktop-hd: 1366px;
$mq-desktop-medium: 1600px;
$mq-desktop-fullhd: 1920px;

$mq-tablet: $mq-desktop-min - 1;
$mq-tablet-medium: 1024px;
$mq-tablet-small: 980px;
$mq-tablet-min: 768px;

$mq-mobile: $mq-tablet-min - 1;
$mq-mobile-medium: 600px;
$mq-mobile-small: 480px;
$mq-mobile-min: 360px;