@mixin anim($param: all, $dur: .18s, $type: ease-out, $delay: 0s) {
    transition: $param $dur $type $delay;
}
@mixin anim-param($params...) {
    transition-property: $params;
}
@mixin gradv($color1, $color2, $opacity: 50%) {
    background: mix($color1, $color2, $opacity) linear-gradient(to bottom, $color1 0%, $color2 100%);
}
@mixin column-width($i) {
    column-width: $i;
}
@mixin column-count($i) {
    column-count: $i;
}
@mixin column-gap($i) {
    column-gap: $i;
}
@mixin columns($i, $j: 0) {
    @include column-count($i);
    @include column-gap($j);
}
@mixin letter-spacing($ls, $fz: 1em) {
    letter-spacing: (($fz/1000)*$ls);
}
@mixin breakpoint($point, $type: max-width) {
    @media screen and (#{$type}: #{$point}) {@content;}
}
@mixin bp-max($point){
    @media screen and (max-width: #{$point}) {@content;}
}
@mixin bp-min($point){
    @media screen and (min-width: #{$point}) {@content;}
}
@mixin breakpoint-range($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {@content;}
}
@mixin section-center($width: $siteWidth, $padding: 16px){
    margin: 0 auto;
    max-width: $width + ($padding * 2);
    padding-right: $padding;
    padding-left: $padding;
}
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}
@function strip-units($value) {
    @return $value / ($value * 0 + 1);
}
@mixin centerize($horizontal: false, $vertical: false) {
  @if ($horizontal == true and $vertical == true) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal == true) {
    left: 50%;
    transform: translateX(-50%);
  } @else if ($vertical == true) {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin logo($diam, $logoBackground: $bgLogo) {
  position: relative;
  height: $diam;
  width: $diam;
  min-width: $diam;
  border-radius: 50%;
  background: $logoBackground;
  overflow: hidden;
  z-index: 1;
  img {
    display: block;
    margin: 0 auto;
  }
}
