@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("./assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("./assets/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./assets/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("./assets/fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("./assets/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Material Design Icons";
  src: url("./assets/fonts/icons/materialdesignicons-webfont.eot?v=1.8.36");
  src: url("./assets/fonts/icons/materialdesignicons-webfont.eot?#iefix&v=1.8.36") format("embedded-opentype"), url("./assets/fonts/icons/materialdesignicons-webfont.woff2?v=1.8.36") format("woff2"), url("./assets/fonts/icons/materialdesignicons-webfont.woff?v=1.8.36") format("woff"), url("./assets/fonts/icons/materialdesignicons-webfont.ttf?v=1.8.36") format("truetype"), url("./assets/fonts/icons/materialdesignicons-webfont.svg?v=1.8.36#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

:host ::ng-deep {
  @import "assets/reset";
  @import "assets/materialdesignicons";
  @import "assets/media";
  @import "assets/mixins";
  @import "assets/variables";
  @import "assets/fields";
  
  .mdi:before,
  .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  
  .card-form-holder {
    position: relative;
    width: 376px;
    margin: 0 auto;
    text-align: center;
    @include bp-max(640px) {
      width: 300px;
      padding-top: 18px;
    }
    
    .title {
      font-size: 14px;
      margin-bottom: 25px;
      color: #64686a;
      text-align: center;
    }
    
    .mdi-close {
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 0;
      cursor: pointer;
      &:hover {
        &:before {
          color: darken(#bfc4c8, 10%);
        }
      }
      &:before {
        font-size: 14px;
        color: #bfc4c8;
        transition: color .12s ease;
      }
    }
    
    .inputs-wrapper {
      padding: 0 15px;
      @include bp-max(640px) {
        padding: 0 30px;
      }
    }
    
    .description {
      max-width: 250px;
      margin: 0 auto 35px;
      font-size: 12px;
      color: #b2b4b6;
      @include bp-max(640px) {
        margin-bottom: 20px;
      }
    }
    
    .button-holder {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 113px;
      padding: 0 32px;
      border-top: 1px solid #dadee1;
      @include bp-max(640px) {
        height: 70px;
      }
      .button {
        & + button {
          margin-left: 10px;
        }
        &.cancel-button {
          background-color: transparent;
          color: #1daafc;
          box-shadow: 0 3px 6px transparent;
          &:hover {
            box-shadow: 0 3px 6px rgba(29, 170, 252, 0.6);
            color: #fff;
            background-color: #1daafc;
          }
        }
      }
    }
  }
  .single-card {
    .card {
      max-width: 150px;
      margin: 0 auto 25px;
      border-radius: 0 0 8px 8px;
      cursor: default;
      .card-holder {
        height: 100px;
        .card-actions {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
    .card-name {
      display: none;
    }
  }
  
  
  app-card {
    display: block;
    height: 100%;
  }
  .card {
    position: relative;
    width: 172px;
    height: 100%;
    min-height: 154px;
    text-align: center;
    font-size: 16px;
    color: #64686a;
    background-color: #f5f7f8;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    float: none;

    .card-holder {
      height: 112px;
      border-radius: 8px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      transition: box-shadow .12s ease;
      box-shadow: 0 19px 19px -14px rgba(251, 99, 125, 0);
      
      &:hover {
        .card-info {
          opacity: 0;
        }
        .card-actions {
          opacity: 1;
        }
      }

      &.visa {
        background: linear-gradient(45deg, #4a84fe 0%, #91b3fe 100%);
        .card-info .card-logo {
          background-image: url('assets/card_visa.svg');
        }
      }
      &.mc, &.mast {
        background: linear-gradient(45deg, #fb637d 0%, #feb04f 100%);
        .card-info .card-logo {
          background-image: url('assets/card_mc.svg');
        }
      }
      &.add-card {
        min-height: 154px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f5f7f8;
        cursor: pointer;
        text-align: center;
        border: none;
        color: #868a8c;
        &:hover {
          .add-card-button {
            &:before {
              color: darken(#1daafc, 10%);
            }
          }
        }
        .add-card-button {
          display: block;
          margin-bottom: 10px;
          &:before {
            font-size: 40px;
            line-height: 40px;
            display: block;
            color: #1daafc;
            transition: color .12s ease-in-out;
          }
        }
      }
      
      .add-card-text {
        text-align: center;
        font-size: 1rem;
      }
      
      .card-info {
        padding: 19px 0 0 16px;
        transition: opacity .12s ease-in-out;
        .card-logo {
          width: 50px;
          height: 24px;
          margin-bottom: 13px;
          background-size: 25px;
          background-repeat: no-repeat;
        }
        
        .card-pan {
          display: block;
          width: 100%;
          color: #ffffff;
          text-align: left;
          font-size: 13px;
        }
      }
      
      .card-actions {
        width: 100%;
        height: 112px;
        cursor: pointer;
        display: table;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: opacity .12s ease-in-out;
        > * {
          height: 100%;
          width: 50%;
          margin: 0;
          padding: 0;
          display: table-cell;
          overflow: hidden;
          &:nth-child(1) {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
          }
          &:nth-child(2) {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
          }
          .card-action-icon-holder {
            font-size: 32px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    
    .card-name {
      margin: 0;
      padding: 12px 20px 12px 16px;
      overflow: visible;
      text-overflow: initial;
      white-space: normal;
      text-align: left;
      font-size: 11px;
      word-wrap: break-word;
    }
  }
  .card-block {
    margin: 0 6px 15px;
    & + .card-block {
    }
  }
  .cards::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  .cards::-webkit-scrollbar-thumb {
    background-color: #aaa;
    width: 4px;
    border-radius: 6px;
  }
  app-select-card {
    display: block;
    padding-right: 4px;
    padding-bottom: 4px;
  }
  .cards {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 800px;
    max-height: 502px;
    overflow: auto;
    padding: 0 30px;
    @include bp-max(640px) {
      width: 405px;
      max-height: 400px;
      padding: 0 15px 20px;
    }
    @include bp-max(1024px) {
      width: 435px;
    }
  }
}
